head{}
body{}
.class1g{background:green;
	height: 300px; width:300px; display:inline-block;vertical-align: bottom;
}
.class2r{background:red;
height: 300px; width:300px; display:inline-block;vertical-align: bottom;
}
.class3b{background:blue;
height: 300px; width:300px; display:inline-block;vertical-align: bottom;
}


